.header-wrapper {
  display: flex;
  justify-content: center;
  background-color: #111111;
  color: #EEEEEE;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 900px;
  max-width: 1440px;
  margin: 0 auto;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  &.mobile {
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
  }
}
.left-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.menu-trigger {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  i img {
    width: 16px;
    height: 20px;
  }
}
.menu-wrapper{
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #111111;
  width: 100%;
  max-width: 200px;
  height: calc(100vh - 50px);
  margin-bottom: 50px;
  .socials-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
.document {
  padding-top: 5px;
  font-size: 10px;
  text-decoration: underline;
}
