<div class="wrapper">
  <footer class="footer">
    <ba-subscription-description></ba-subscription-description>
    <ba-subscribe></ba-subscribe>
    <div class="contacts">
      <div class="phone">
        <a class="link" href="tel:{{phone}}}">
          {{phone}}
        </a>
      </div>
      <ba-socials></ba-socials>
    </div>
    <div class="links">
      <div>
        <span class="link">
          Договор оферты
        </span>
      </div>
      <div>
        <span class="link">
          Пользовательское соглашение
        </span>
      </div>
      <div>
        <span class="link">
          Контакты
        </span>
      </div>
      <div>
        <span class="link">
          Доставка
        </span>
      </div>
      <div>
        <span class="link">
          Оплата
        </span>
      </div>
    </div>
    <div class="documents">
      <div class="document">
        <span class="link">
          Соглашение об обработке персональных данных
        </span>
      </div>
      <div class="document">
        <span>
          Все права защищены © Бон Антик
        </span>
      </div>
      <div class="document">
        <a class="link" href="mailto:admin@bon-antique.com" target="_blank">
          admin@bon-antique.com
        </a>
      </div>
    </div>
  </footer>
</div>
