<div class="wrapper">
  <footer class="footer" [class.mobile]="isMobile">
    <ba-subscription-description [class.mobile]="isMobile"></ba-subscription-description>
    <ba-subscribe [class.mobile]="isMobile"></ba-subscribe>
    <div class="contacts">
      <div *ngFor="let phone of phones" class="phone">
        <a class="link" [href]="phone.value">
          {{phone.label}}
        </a>
      </div>
      <ba-socials></ba-socials>
    </div>
    <div class="links" [class.mobile]="isMobile">
      <div class="document">
        <span class="link">
          Договор оферты
        </span>
      </div>
      <div class="document">
        <span class="link">
          Пользовательское соглашение
        </span>
      </div>
      <div class="document">
        <span class="link">
          Контакты
        </span>
      </div>
      <div class="document">
        <span class="link">
          Доставка
        </span>
      </div>
      <div class="document">
        <span class="link">
          Оплата
        </span>
      </div>
    </div>
    <div class="documents" [class.mobile]="isMobile">
      <div class="document">
        <span class="link">
          Соглашение об обработке персональных данных
        </span>
      </div>
      <div class="document">
        <span>
          Все права защищены © Бон Антик
        </span>
      </div>
      <div *ngFor="let email of emails" class="document">
        <a class="link" [href]="email.link" target="_blank">
          {{email.label}}
        </a>
      </div>
    </div>
  </footer>
</div>
