<ba-banner></ba-banner>
<section class="section ">
  <div class="feature-products">
    <ba-product-preview
      *ngFor="let product of featuredProducts; index as i"
      [product]="product"
      [class.mobile]="isMobile"
      [class.tablet]="isTablet"
      [class.full-width]="i === featuredProducts.length - 1 && featuredProducts.length % 2 === 1"
    ></ba-product-preview>
  </div>
</section>
<section class="section">
  <header class="header">
    <span>Блог</span>
    <span>В блог</span>
  </header>
  <div class="articles">
    <ba-article-preview
      *ngFor="let article of articles; index as i"
      [article]="article"
      [class.row-2n]="i === 0 || i === 1"
      [class.row-3n]="i !== 0 && i !== 1"
      [class.mobile]="isMobile"
      [class.tablet]="isTablet"
      [class.full-width]="i === articles.length - 1 && articles.length % 2 === 1"
    ></ba-article-preview>
  </div>
</section>
<section class="section">
  <header class="header">
    <span>Популярное сегодня</span>
    <a [routerLink]="['packs']">В каталог</a>
  </header>
  <div class="products">
    <ba-product-preview
      *ngFor="let product of products; index as i"
      [product]="product"
      [class.row-2n]="i === 0 || i === 1"
      [class.row-3n]="i !== 0 && i !== 1"
      [class.mobile]="isMobile"
      [class.tablet]="isTablet"
      [class.full-width]="i % 3 === 2 && i !== 0"
    ></ba-product-preview>
  </div>
</section>
<section class="section">
  <header class="header reviews-header">
    Последние отзывы
  </header>
  <div class="reviews">
    <ba-review-preview
      *ngFor="let review of reviews; index as i"
      [review]="review"
      [class.mobile]="isMobile"
      [class.tablet]="isTablet"
    ></ba-review-preview>
  </div>
  <footer class="footer">
    <a>Оставить отзыв</a>
  </footer>
</section>
<section class="section">
  <header class="header">
    <span>ВДОХНОВЕНИЕ</span>
    <span>Подробнее</span>
  </header>
  <div
    class="inspirations-preview"
     [class.mobile]="isMobile"
     [class.tablet]="isTablet"
  >
    <ba-slider
      [images]="inspirations"
      [withArrows]="true"
      [initialCurrent]="0"
    ></ba-slider>
  </div>
</section>
<section class="section action-description">
  <div class="row row-top">
    <span class="left"></span>
    <span class="center"></span>
    <span class="right"></span>
  </div>
  <div class="description">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="row row-bottom">
    <span class="left"></span>
    <span class="center"></span>
    <span class="right"></span>
  </div>
</section>
