<div
  class="wrapper"
  [class.vertical]="type === 'VERTICAL'"
  [class.horizontal]="type === 'HORIZONTAL'"
  [class.mobile]="isMobile"
>
  <a [href]="link" class="banner" [id]="id">
    <div *ngIf="frontImage" class="image">
      <img [src]="frontImage" class="frontImage" />
    </div>
    <div class="content">
      <header class="header" *ngIf="header">
        {{header}}
      </header>
      <div class="subheader" *ngIf="subheader">
        {{subheader}}
      </div>
      <div class="raw" *ngIf="raw">
        <div [innerHTML]="raw"></div>
      </div>
    </div>
  </a>
</div>
