<div class="main-container">
  <div class="alert alert-app-level"></div>
  <header class="header header-6">
    <div class="branding">
      <a [routerLink]="['', 'admin']" class="nav-link">
        <img src="assets/images/logo_light.svg" class="logo" />
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['', 'admin', 'contacts']" class="nav-link nav-text">Контакты</a>
    </div>
  </header>
  <nav class="subnav">
    <span class="admin-subnav">Admin Panel</span>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav admin-sidenav">
      <a
        *ngFor="let category of categories"
        class="nav-link"
        [routerLink]="['', 'admin', 'categories', category.slug, 'edit']"
      >{{category.title}}</a>
      <button class="btn btn-primary" [routerLink]="['', 'admin', 'categories', 'new', 'edit']">Новая категория</button>
    </nav>
  </div>
</div>
