.wrapper {
  &.vertical {

  }
  &.horizontal {
    width: 100%;
  }
  &.mobile {
    .header {
      font-size: 18px;
      padding-bottom: 4px;
    }
    .subheader {
      font-size: 14px;
      padding-bottom: 4px;
    }
    .raw {
      font-size: 12px;
    }
  }
}
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  color: #EEEEEE;
}
.image {
  max-width: 225px;
  width: calc(100vw/3);
  max-height: 225px;
  height: calc(100vw/3);
  overflow: hidden;
  position: relative;
}
.frontImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.content {
  max-width: 675px;
  width: calc(100vw/4*3);
  max-height: 225px;
  height: calc(100vw/4);
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header {
  font-size: 36px;
  font-family: Cambria;
  padding-bottom: 18px;
}
.subheader {
  font-size: 24px;
  font-family: Cambria;
  padding-bottom: 12px;
}
.raw {
  font-size: 16px;
}
