.section {
  display: flex;
}
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 250px);
  padding-top: 40px;
  &.mobile {
    justify-content: center;
    width: 100%;
  }
}
