<ba-breadcrumbs
  *ngIf="!isMobile"
  [paths]="paths"
></ba-breadcrumbs>
<section class="section">
  <ba-sidenav-catalog
    *ngIf="!isMobile"
    [categories]="categories"
  ></ba-sidenav-catalog>
  <div
    class="products"
    [class.mobile]="isMobile"
  >
    <ba-product-preview
      *ngFor="let product of products; index as i"
      [product]="product"
      [class.mobile]="isMobile"
      [class.tablet]="isTablet"
    ></ba-product-preview>
  </div>
</section>
<ba-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [firstPage]="1"
  (nextPage)="onNextPage()"
  (previousPage)="onPreviousPage()"
  (selectPage)="onSelectPage($event)"
></ba-pagination>
