<div class="wrapper">
  <div class="iamge">
    <img [src]="product.image" class="product-image" />
  </div>
  <div class="info">
    <header class="header">
      {{product.title}}
    </header>
    <div class="content">
      <div class="expiration">
        <div class="expiration-haeder">
          Не забудьте купить
        </div>
        <div class="expiration-countdown">
          <span>15 дней</span><span>15 часов</span>
        </div>
      </div>
      <div class="costs">
        <div class="current-cost">
          {{product.cost}}
        </div>
        <div class="outdated-cost">
          {{product.previousCost}}
        </div>
      </div>
    </div>
  </div>
</div>
