<div class="wrapper">
  <form [formGroup]="subscribeForm" (submit)="onSubmit()">
    <div class="form">
      <input
        formControlName="email"
        type="email"
        class="field"
        placeholder="Ваш E-mail"
      />
      <input
        type="image"
        class="button"
        src="/assets/images/telegram.svg"
      />
    </div>
    <div class="error" *ngIf="isControlInvalid('email')">
      Введите корректный E-mail
    </div>
    <div class="error" *ngIf="apiErrors">
      {{apiErrors}}
    </div>
  </form>
</div>
