:host {

}
.wrapper {
  height: 100%;
  border-right: 2px solid #EEEEEE;
  position: relative;
}
.sidenav {
  margin-top: 40px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;

  position: sticky;
  top: 0;
  left: 0;
}
.category {
  padding: 10px 5px;
  a {
    color: #EEEEEE;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      color: #CA9B22;
    }
  }
}
