@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic');
@import './reset.css';

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
@font-face {
  font-family: Cambria;
  src: url("/assets/fonts/cambria.ttf") format("truetype");
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  font-weight: 300;
}

body.modal-opened {
  overflow: hidden;
}
