<div>
  <h1>{{this.type === 'edit' ? 'Обновление Боны>' : 'Добавление Новой Боны'}}</h1>
</div>
<form clrForm [formGroup]="bondForm" (submit)="onSubmit()">
  <clr-input-container>
    <label>Наименование Боны</label>
    <input clrInput formControlName="title" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-textarea-container>
    <label>Описание Боны</label>
    <textarea clrTextarea formControlName="description"></textarea>
  </clr-textarea-container>
  <clr-input-container>
    <label>В наличии</label>
    <input clrInput formControlName="amount" type="number" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Установить цену</label>
    <input clrInput formControlName="_price" type="number" (keypress)="addPrice($event)" />
    <clr-control-helper>
      Предыдущая цена. На сайте выводится текущая и перечеркнутая предыдущая.
    </clr-control-helper>
  </clr-input-container>
  <div>
    <div>
      <span
        class="label clickable"
        *ngFor="let price of bondForm.controls.prices.value; index as i"
      >
        {{price}}
        <span *ngIf="i === bondForm.controls.prices.value.length - 2" class="badge">Последняя цена</span>
        <span *ngIf="i === bondForm.controls.prices.value.length - 1" class="badge">Текущая цена</span>
        &nbsp;&nbsp;
        <span class="badge remove-price" (click)="removePrice(price)">×</span>
      </span>
    </div>
  </div>
  <clr-input-container>
    <label>Тип товара</label>
    <input clrInput formControlName="product_type" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Валюта Боны</label>
    <input clrInput formControlName="bond_currency" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Номинал Боны</label>
    <input clrInput formControlName="bond_value" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Серия</label>
    <input clrInput formControlName="bond_serial" />
  </clr-input-container>
  <clr-input-container>
    <label>Номер</label>
    <input clrInput formControlName="bond_number" />
  </clr-input-container>
  <clr-input-container>
    <label>Страна эмиссии</label>
    <input clrInput formControlName="bond_country" />
    <clr-control-error>Поле обязательно для заполнения</clr-control-error>
  </clr-input-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox formControlName="available" />
      <label>Выводить данный товар на сайте</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox formControlName="is_copy" />
      <label>Это копия оригинального товара?</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <button [disabled]="bondForm.invalid" class="btn btn-primary">{{this.type === 'edit' ? 'Обновить' : 'Добавить'}}</button>
</form>
